<li>
	{{name}}

	<button class="change-pickedUp" data-id="{{id}}" data-newpickedUp="{{pickedUp}}">
		{{#if pickedUp}}Picked Up!{{else}}Get them while they're HOT!!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>