<li>
	{{name}}

	<button class="change-pickedUp" data-id="{{id}}" data-newpickedUp="{{pickedUp}}">
		{{#if pickedUp}}This one is gone{{else}}Get them while they're HOT!!!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">Delete this taco!</button>
</li>